<library path="src">
  <class name="TA11Test" type="ta11_test.ta11_test.TA11Test"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin to ...
    </description>
    <qtgui>
      <group>
        <label>New Group</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to...</statustip>
      </group>
      <label>RQT Plugin ta11_test</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to ...</statustip>
    </qtgui>
  </class>
  <class name="TA11TAIGo" type="ta11_tiago.ta11_tiago.TA11TIAGo"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      A GUI plugin to ...
    </description>
    <qtgui>
      <group>
        <label>New Group</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to...</statustip>
      </group>
      <label>RQT Plugin ta11_test</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin to ...</statustip>
    </qtgui>
  </class>
</library>
