#!/usr/bin/env python
PACKAGE = "ta11_controller"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# the three values at the end: default, min, max
gen.add("max_force_thresh", double_t, 0, "Threshold force at which controller stops", 1.0, 0.0, 5.0)
gen.add("lambda", double_t, 0, "Interpolation parameter", 0.1, 0.0, 1.0)
gen.add("k_i", double_t, 0, "PID i part", 0.002, 0.001, 0.1)
# gen.add("min_vel", double_t, 0, "min vel", 0.005, 0.001, 1.0)
gen.add("k", int_t, 0, "Slope", 850, 0, 2000)
gen.add("goal_maintain",   bool_t,   0, "Maintain goal force or finish if reached?",  False)

exit(gen.generate(PACKAGE, "ta11_controller", "TA11ControllerDR"))
